@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <div>
            <NavMenu />
        </div>

        <div class="main-top">
            @Body
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="main-top">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <h1>Falla de Autenticación</h1>
                        <p>Iniciar sesión <NavLink href="login">aquí</NavLink></p>
                    </div>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
