
<AuthorizeView>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Control Taller</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
              Inicio
          </NavLink>          
        </li>
        <li class="nav-item dropdown">
          <NavLink class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Catálogos</NavLink>
          <div class="dropdown-menu">
            <NavLink class="dropdown-item" href="car-brands">Marcas de Vehículos</NavLink>   
            <NavLink class="dropdown-item" href="contacts">Contactos</NavLink>      
            <NavLink class="dropdown-item" href="products">Productos</NavLink>      
            @* <NavLink class="dropdown-item" href="operation-types">Tipos de Operación</NavLink>          
            <NavLink class="dropdown-item" href="products">Productos</NavLink>          
            <NavLink class="dropdown-item" href="providers">Proveedores</NavLink>       *@

            @* <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a> *@
          </div>
        </li>
        <li class="nav-item dropdown">
          <NavLink class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Movimientos</NavLink>
          <div class="dropdown-menu">
            <NavLink class="dropdown-item" href="provider-invoices">Facturas de Proveedores</NavLink>      
            <NavLink class="dropdown-item" href="work-orders">Ordenes de Trabajo</NavLink>
            @* <NavLink class="dropdown-item" href="operation-types">Tipos de Operación</NavLink>          
            <NavLink class="dropdown-item" href="products">Productos</NavLink>          
            <NavLink class="dropdown-item" href="providers">Proveedores</NavLink>       *@
          </div>
        </li>
        <li class="nav-item">
          <NavLink class="nav-link" href="about">About</NavLink>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle user-wrapper" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <Icon Name="IconName.User" />
                @context.User.Identity.Name
              </a>
              <div class="dropdown-menu" style="right: 0; left: unset;">
                  <NavLink class="nav-link" href="profile">Perfil</NavLink>
                  <NavLink class="nav-link" href="/logout">
                    <span class="sr-only"></span>
                    Cerrar sesión
                  </NavLink>
              </div>
          </li>
      </ul>           
    </div>
  </nav>

</AuthorizeView>
